@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Prompt', sans-serif;
    color: whitesmoke;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .7rem;
    width: 100vw;
    background: rgb(119, 140, 156);
    background: linear-gradient(90deg, rgba(119, 140, 156, 1) 12%, rgba(48, 76, 145, 1) 68%, rgba(1, 129, 130, 1) 100%);
}

main {
    min-height: inherit;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.p5Canvas {
    border: 10px outset #ccc;
    width: 100%;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
}

#heading {
    text-align: center;
    font-size: 1.2rem;
    font-weight: 600;
    padding: .2rem 0 0 0;
}

.heading {
    display: grid;
    place-content: center;
    margin: 5px;
    text-align: center;
    font-size: 1.7rem;
    font-weight: 800;
    text-transform: uppercase;
    text-shadow: 1px 1px 1px black;
    color: white;
}

.tables {
    user-select: none;
    gap: .7rem;
    width: 90%;
    overflow-x: auto;
}


/* table {
    border-collapse: collapse;
    width: 50%;
    border: 1px solid #ddd;
    font-size: 1rem;
    background-color: whitesmoke;
}

th,
td {
    border: 1px solid #ccc;
    padding: 5px;
}

#horizontal-bar {
    background-color: blue;
    height: 20px;
    width: 0;
    transition: width 0.5s ease;
} */

@media screen and (max-width: 600px) {
    .tables {
        justify-content: start;
        align-items: flex-start;
    }
}